:root {
    --off-color: red;
  }
  html {
    scroll-behavior: smooth;
  }
  .mainNav h1 span {
    display: inline-block;
    transform: scaleX(-1) translateX(-0.2rem);
    color: var(--off-color);
  }
  .mainNav > * {
    margin: 0;
  }
  @media screen and (min-width: 700px) {
    .mainNav {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  
  .mainNav h1 {
    margin-right: auto;
  }
  
  .mainNav > a {
    display: block;
    text-decoration: none;
  }
  
  /*Category*/
  .categorylist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }
  
  .categorylist a {
    text-decoration: none;
    padding: 2em;
    color: white;
    background-color: var(--cat-background-color);
  }
  
  @media screen and (min-width: 800px) {
    .brandList ol {
      column-count: 2;
    }
  }
  
  /*ProductList*/
  .productlist main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 290px));
    gap: 2rem;
  }
  .productlist main h2 {
    grid-column: 1/-1;
  }
  .productlist article h3 {
    font-size: 1rem;
    flex-grow: 3;
  }
  .productlist article > * {
    margin: 0;
    font-size: 0.9rem;
  }
  .subtle {
    color: var(--text-decoration-color);
  }
  .productlist article {
    display: flex;
    flex-direction: column;
  }
  .productlist article.soldOut img {
    opacity: 0.5;
  }
  .productlist article.soldOut::before {
    content: "Sold Out";
    position: absolute;
    background: var(--color);
    color: var(--background-color);
    padding: 1rem;
  }
  .productlist article .discounted {
    display: none;
  }
  .productlist article.onSale .discounted {
    display: flex;
    justify-content: space-between;
  }
  .discounted > p {
    margin-bottom: 0;
  }
  .productlist article.onSale .price span {
    /* display: initial; */
    text-decoration: line-through;
    color: var(--off-color);
  }
  .productlist article button {
    margin-top: auto;
  }
  .productlist article {
    margin-bottom: 1rem;
  }
  .discounted p:last-child {
    background: var(--off-color);
    padding: 0.2rem;
  }
  
  /*Product*/
  .breadcrumbs {
    display: none;
  }
  
  .purchaseBox {
    background: #d8d8d8;
    color: var(--background-color);
    padding: 1rem;
  }
  .info {
    padding: 1rem;
  }
  .product select {
    min-width: 100px;
  }
  .product main {
    display: grid;
  }
  .product main .breadcrumbs,
  .product main img {
    grid-column: 1/-1;
  }
  .purchaseBox form label {
    gap: 1rem;
  }
  .purchaseBox button {
    display: block;
    margin-top: 1rem;
    width: 100%;
  }
  dt {
    font-weight: 700;
  }
  @media screen and (min-width: 900px) {
    .product main {
      grid-template-columns: 1fr 310px;
    }
    .info {
      order: 0;
    }
    .purchaseBox {
      order: 2;
      transform: translate(-50px, -100px);
    }
  
    .breadcrumbs {
      display: flex;
      font-size: 0.8rem;
      list-style-type: none;
    }
  
    .breadcrumbs li::after {
      content: " > ";
      font-size: 0.6rem;
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 10px;
      transition: all 0.3s;
    }
  
    .breadcrumbs li:last-child::after {
      background: none;
      content: "";
    }
  }