---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <figure>
        <img src="https://kea-alt-del.dk/t7/images/webp/640/1535.webp" alt="Produktbillede" class="productImage">
        <span class="saleLabel">Udsalg!</span>
    </figure>
    <section class="productDetails">
        <h2 class="productName">Produktnavn</h2>
        <div>
            <p class="articleType"><span class="bold">Type:</span> Caps</p>
            <p class="productCategory"><span class="bold">Kategori:</span> Accessories</p>
            <p class="productPrice"><span class="bold">Pris:</span> 699,-</p>
        </div>
        <button class="buyButton">Køb nu</button>
    </section>
</Layout>