<header class="mainNav">
    <a href=" ">
        <h1>Fashion<span>R</span>Us</h1>
    </a>
    <nav>
        <a href="category">Categories</a>
        <a href="#">Brands</a>
        <a href="#">Seasons</a>
    </nav>
</header>