---
const { pagetitle } = Astro.props;
const {bodytype} = Astro.props;
console.log(pagetitle);
import Header from "../components/Header.astro";
import "../assets/css/base.css";
import "../assets/css/style.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pagetitle}</title>
    <!-- <link rel="stylesheet" href="../assets/css/base.css" />
    <link rel="stylesheet" href="../assets/css/style.css" /> -->
  </head>
  <body class={bodytype}>
    <Header />
	<main>
    <slot />
	</main>
  </body>
</html>
